<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<bean id="playerShellsQueue" class="Demo.Object.Container.PlayerShellsQueue" scope="singleton"></bean>  
	<bean id="enemyShellsQueue" class="Demo.Object.Container.EnemyShellsQueue" scope="singleton"></bean>
	<bean id="lightWaveQueue" class="Demo.Object.Container.LightWaveQueue" scope="singleton"></bean>
	<bean id="specialEffectsQueue" class="Demo.Object.Container.SpecialEffectsQueue" scope="singleton"></bean>
	<!-- 
	<bean id="gouku" class="Demo.Object.PlayerObject.Gouku"></bean>
	-->
	
	<bean id="playerPosition" class="Demo.Object.PlayerObject.PlayerPosition"></bean>
</beans>
